.game-content {
    width: 100%;
    height: 100%;
}

.sket-game-side {
    width: 25%;
    height: 100%;
    /*background-color: lightgreen;*/
}

.player-area {
    width: 100%;
    height: 50%;
}

#left-side {
    float: left;

}

#right-side {
    float: right;
}

#game-area {
    float: left;
    width: 50%;
    height: 100%;
}

#player-1 {
    width: 100%;
    height: 50%;
}

#player-2 {
    width: 100%;
    height: 50%;
}

#player-3 {
    width: 100%;
    height: 50%;
}

#player-4 {
    width: 100%;
    height: 50%;
}


.sket-player {
    width: 100%;
    height: 50%;

    background-color: lightgreen;
}

.sket-score {
    width: 100%;
    height: 50%;

    background-color: skyblue;
}

#sket-round-info {
    height: 5%;
    padding: 10px 5px 5px 10px;
}

#sket-round-info h3 {
    text-align: right;
    font-size: 20px;
}

#sketch-area {
    width: 95%;
    height: 60%;
    margin: 10px;

    border: 1px solid black;
    background-color: white;
}

#time-progress-bar {
    width: 90%;
    height: 5%;
}

#sket-chatting {
    height: 30%;
    margin: 10px 10px 10px 0px;

    border: 1px solid black;
    background-color: white;
}
